<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
{{!-- START CHOCOLATEY SPECIFIC MODIFICATION --}}
<script type="text/javascript">function _createForOfIteratorHelper(e,t){var r="undefined"!=typeof Symbol&&e[Symbol.iterator]||e["@@iterator"];if(!r){if(Array.isArray(e)||(r=_unsupportedIterableToArray(e))||t&&e&&"number"==typeof e.length){r&&(e=r);var a=0,n=function(){};return{s:n,n:function(){return a>=e.length?{done:!0}:{done:!1,value:e[a++]}},e:function(e){throw e},f:n}}throw new TypeError("Invalid attempt to iterate non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.")}var o,c=!0,l=!1;return{s:function(){r=r.call(e)},n:function(){var e=r.next();return c=e.done,e},e:function(e){l=!0,o=e},f:function(){try{c||null==r.return||r.return()}finally{if(l)throw o}}}}function _unsupportedIterableToArray(e,t){if(e){if("string"==typeof e)return _arrayLikeToArray(e,t);var r=Object.prototype.toString.call(e).slice(8,-1);return"Object"===r&&e.constructor&&(r=e.constructor.name),"Map"===r||"Set"===r?Array.from(e):"Arguments"===r||/^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(r)?_arrayLikeToArray(e,t):void 0}}function _arrayLikeToArray(e,t){(null==t||t>e.length)&&(t=e.length);for(var r=0,a=new Array(t);r<t;r++)a[r]=e[r];return a}!function(){var e=document.querySelectorAll(".theme-toggle");e&&e.forEach(function(t){var r=document.querySelector("html"),a=window.matchMedia("(prefers-color-scheme: dark)"),n=localStorage.getItem("theme"),o=document.querySelectorAll("table");function c(e){var t=e.matches?"dark":"light";n||(i(t),l())}function l(){var e=t.checked?"dark":"light";t.checked?(r.classList.add("dark-theme"),r.classList.remove("light-theme")):(r.classList.add("light-theme"),r.classList.remove("dark-theme")),r.setAttribute("data-user-color-scheme",e),s(e)}function i(e){t.checked="dark"==e,s(e)}function s(e){if("dark"==e){var t,r=_createForOfIteratorHelper(o);try{for(r.s();!(t=r.n()).done;)t.value.classList.add("table-dark")}catch(e){r.e(e)}finally{r.f()}}else{var a,n=_createForOfIteratorHelper(o);try{for(n.s();!(a=n.n()).done;)a.value.classList.remove("table-dark")}catch(e){n.e(e)}finally{n.f()}}}i(r.getAttribute("data-user-color-scheme")),t.addEventListener("change",l),a.addEventListener("change",c),t.addEventListener("click",function(){a.removeEventListener("change",c),t.checked?localStorage.setItem("theme","dark"):localStorage.setItem("theme","light"),function(t){var r,a=_createForOfIteratorHelper(e);try{for(a.s();!(r=a.n()).done;){var n=r.value;t.checked?n.checked=!0:n.checked=!1}}catch(e){a.e(e)}finally{a.f()}}(t)})})}(),function(){var e=document.querySelectorAll("table");e&&e.forEach(function(e){e.classList.add("table","table-bordered","table-striped"),e.outerHTML='<div class="table-responsive">'+e.outerHTML+"</div>"})}(),function(){var e=document.querySelectorAll("select");e&&e.forEach(function(e){e.classList.add("form-select")})}();</script>
{{!-- END CHOCOLATEY SPECIFIC MODIFICATION --}}