<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
{{!-- START CHOCOLATEY SPECIFIC MODIFICATION --}}
<script type="text/javascript">!function e(t,r,n){function o(c,i){if(!r[c]){if(!t[c]){var l="function"==typeof require&&require;if(!i&&l)return l(c,!0);if(a)return a(c,!0);var u=new Error("Cannot find module '"+c+"'");throw u.code="MODULE_NOT_FOUND",u}var s=r[c]={exports:{}};t[c][0].call(s.exports,(function(e){return o(t[c][1][e]||e)}),s,s.exports,e,t,r,n)}return r[c].exports}for(var a="function"==typeof require&&require,c=0;c<n.length;c++)o(n[c]);return o}({1:[function(e,t,r){"use strict";var n;(n=document.querySelectorAll("select"))&&n.forEach((function(e){return e.classList.add("form-select")}))},{}],2:[function(e,t,r){"use strict";var n;(n=document.querySelectorAll("table"))&&n.forEach((function(e){e.classList.add("table","table-bordered","table-striped"),e.outerHTML='<div class="table-responsive">'.concat(e.outerHTML,"</div>")}))},{}],3:[function(e,t,r){"use strict";function n(e,t){var r="undefined"!=typeof Symbol&&e[Symbol.iterator]||e["@@iterator"];if(!r){if(Array.isArray(e)||(r=function(e,t){if(!e)return;if("string"==typeof e)return o(e,t);var r=Object.prototype.toString.call(e).slice(8,-1);"Object"===r&&e.constructor&&(r=e.constructor.name);if("Map"===r||"Set"===r)return Array.from(e);if("Arguments"===r||/^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(r))return o(e,t)}(e))||t&&e&&"number"==typeof e.length){r&&(e=r);var n=0,a=function(){};return{s:a,n:function(){return n>=e.length?{done:!0}:{done:!1,value:e[n++]}},e:function(e){throw e},f:a}}throw new TypeError("Invalid attempt to iterate non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.")}var c,i=!0,l=!1;return{s:function(){r=r.call(e)},n:function(){var e=r.next();return i=e.done,e},e:function(e){l=!0,c=e},f:function(){try{i||null==r.return||r.return()}finally{if(l)throw c}}}}function o(e,t){(null==t||t>e.length)&&(t=e.length);for(var r=0,n=new Array(t);r<t;r++)n[r]=e[r];return n}!function(){var e=document.querySelectorAll(".theme-toggle");if(e){e.forEach((function(t){var r=document.querySelector("html"),o=window.matchMedia("(prefers-color-scheme: dark)"),a=localStorage.getItem("theme"),c=document.querySelectorAll("table"),i=function(e){if("dark"==e){var t,r=n(c);try{for(r.s();!(t=r.n()).done;){t.value.classList.add("table-dark")}}catch(e){r.e(e)}finally{r.f()}}else{var o,a=n(c);try{for(a.s();!(o=a.n()).done;){o.value.classList.remove("table-dark")}}catch(e){a.e(e)}finally{a.f()}}},l=function(e){t.checked="dark"==e,i(e)};l(r.getAttribute("data-user-color-scheme"));var u=function(){var e=t.checked?"dark":"light";t.checked?(r.classList.add("dark-theme"),r.classList.remove("light-theme")):(r.classList.add("light-theme"),r.classList.remove("dark-theme")),r.setAttribute("data-user-color-scheme",e),i(e)};t.addEventListener("change",u);var s=function(e){var t=e.matches?"dark":"light";a||(l(t),u())};o.addEventListener("change",s),t.addEventListener("click",(function(){o.removeEventListener("change",s),t.checked?localStorage.setItem("theme","dark"):localStorage.setItem("theme","light"),function(t){var r,o=n(e);try{for(o.s();!(r=o.n()).done;){var a=r.value;t.checked?a.checked=!0:a.checked=!1}}catch(e){o.e(e)}finally{o.f()}}(t)}),!1)}))}}()},{}],4:[function(e,t,r){"use strict";e("../chocolatey-inputs.js"),e("../chocolatey-tables.js"),e("../chocolatey-theme-toggle.js")},{"../chocolatey-inputs.js":1,"../chocolatey-tables.js":2,"../chocolatey-theme-toggle.js":3}]},{},[4]);</script>
{{!-- END CHOCOLATEY SPECIFIC MODIFICATION --}}